<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.study.mapper.SysUserMapper">

    <insert id="addUser" parameterType="com.example.study.model.SysUser" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(
        username,
        password,
        account_non_expired,
        account_non_locked,
        credentials_non_expired,
        enabled,
        created_at,
        updated_at
        ) values (
        #{username},
        #{password},
        #{accountNonExpired},
        #{accountNonLocked},
        #{credentialsNonExpired},
        #{enabled},
        #{createdAt},
        #{updatedAt}
        )
    </insert>

    <update id="deleteUserById">
        update sys_user set enabled=0, deleted_at=now() where id=#{userId}
    </update>
</mapper>